body,p{
    margin:0;
    padding: 0;
}
/* For mobile phones: */
.head-color{
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    height: 72px;
}
.head-content{
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin-top: 20px;
    
    
    
}
.head-pic{
    

}

.burger{
  display: flex;
  width: 52px;
  height: 52px;


}
.fas{
    color: white;
  
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:active {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:active .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:active .dropbtn {
    background-color: black;
  }

  .start-info{
    background-image: url(../img/image@1X.png);
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 641px;
  
}

.start-text{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
height:400px;


}


.start-logo{
  display: block;
  
}
.start-description{
    font-family: 'Raleway', sans-serif;
font-size: 15pt;
color: rgba(255, 255, 255, 255);
text-align: left;
}
.start-lorem{

    font-family: 'Raleway', sans-serif;
font-size: 10pt;
color: rgba(255, 255, 255, 255);
text-align: left;
padding: 15pt;
}
.line{
  
}
.download{
  color: white;
  background-color:transparent;
  background: transparent;
  border: 1px solid white;
  padding: 15px 30px;
  font-size: medium ;
}

.form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
width: 360px;
    height:360px;
    margin-left: auto;
    margin-right: auto;


}

.form-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    background-color: #f5f5f5;
    width:358px;
    height:54px;
    color: #333333;
    text-align: center;

}

.orange-text{
color: #ff8b38;

}

.registr{
  height:241px;
  display: flex;
flex-direction: column;
align-items: center;
    width: 358px;
    background-color: #ffffff;
}
.form-text{
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom-color: #f6f6f6;
    width: 281px;
    height: 54px;
}
.form-button{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    border:none;
    height:54px;
    width:360px;
    background-color: #ff8b38;
}

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .fa-bars{
display: none;}
  }  

